<section class="target_video fade-in">
  <video width=100% height=25% controls poster="https://i.ytimg.com/vi/jLK2Q-qykfc/maxresdefault.jpg">      
    <source src="https://movietrailers.apple.com/movies/universal/you-should-have-left/you-should-have-left-trailer-1_a720p.m4v?t=5" type="video/mp4"> <!-- type="video/mp4" -->  
  </video>

</section>

{{!-- Trending Section --}}
<h3 class="container-first-title">Trending</h3>
<div class="container fade-in">
  {{#each trendingWeek.results}}
    {{#if this.name}}
      <a href="/info/{{this.media_type}}/{{this.id}}">
        <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
      </a>   
    {{/if}}
    {{#if this.title}}
      <a href="/info/{{this.media_type}}/{{this.id}}">
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
      data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a>
    {{/if}}
  {{/each}}
</div>


{{!-- Popular Section --}}
<h3 class="container-title">Popular Movies</h3>
<div class="container fade-in">
  {{#each popularMovie.results}}
    <a href="/info/movie/{{this.id}}">
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a>
  {{/each}}
</div>

<h3 class="container-title">Popular TV Shows</h3>
<div class="container fade-in">
  {{#each popularTV.results}}
    <a href="/info/tv/{{this.id}}"> 
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a>
  {{/each}}
</div>


{{!-- Top Rated Section --}}

<h3 class="container-title">Top Rated Movies</h3>
<div class="container fade-in">
  {{#each topMovieRated.results}}
    <a href="/info/movie/{{this.id}}"> 
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a>
  {{/each}}
</div>

<h3 class="container-title">Top Rated TV Shows</h3>
<div class="container fade-in">
  {{#each topTVRated.results}}
    <a href="/info/tv/{{this.id}}"> 
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a>
  {{/each}}
</div>

{{!-- Action Movies --}}
<h3 class="container-title">Action Movies</h3>
<div class="container fade-in">
  {{#each actionMovie.results}}
    <a href="/info/movie/{{this.id}}"> 
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a> 
  {{/each}}
</div>

{{!-- Crime TV --}}
<h3 class="container-title">Crime TV Shows</h3>
<div class="container fade-in">
  {{#each crimeTV.results}}
    <a href="/info/tv/{{this.id}}"> 
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a>
  {{/each}}
</div>

{{!-- Comedy Movies --}}
<h3 class="container-title">Comedy Movies</h3>
<div class="container fade-in">
  {{#each comedyMovie.results}}
    <a href="/info/movie/{{this.id}}"> 
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a>
  {{/each}}
</div>

{{!-- News TV --}}
<h3 class="container-title">News TV</h3>
<div class="container fade-in">
  {{#each newsTV.results}}
    <a href="/info/tv/{{this.id}}"> 
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a>
  {{/each}}
</div>

<script>
    var imgs = document.getElementsByTagName('img')
    for(var i=0,j=imgs.length;i<j;i++){
        imgs[i].onerror = function(e){
        this.parentNode.removeChild(this);
    }
}
</script>