
<section class="target_video">
  <video width=100% height=25% controls poster="https://i.ytimg.com/vi/jLK2Q-qykfc/maxresdefault.jpg" autoplay >      
    <source src="https://movietrailers.apple.com/movies/universal/you-should-have-left/you-should-have-left-trailer-1_a720p.m4v?t=5" type="video/mp4"> <!-- type="video/mp4" -->  
  </video>
  {{!-- <video width=100% height=25% controls poster="https://i.ytimg.com/vi/jLK2Q-qykfc/maxresdefault.jpg" autoplay >      
    <source src="media/HomeMovie.mp4" type="video/mp4"> <!-- type="video/mp4" -->  
  </video> --}}
  {{!-- <iframe src="//www.hd-trailers.net/embed/mad-max-fury-road/1-legacy-1080p/" width="1920px" height="1100px"></iframe> --}}
  {{!-- <iframe src="https://www.youtube.com/embed/zSWdZVtXT7E?controls=0&amp;start=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}
  {{!-- <video loop controls="false" muted width=100% height="700px" autoplay name="media"><source src="http://www.jplayer.org/video/m4v/Big_Buck_Bunny_Trailer.m4v" type="video/mp4"></video> --}}
  {{!-- poster="https://occ-0-3933-3934.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABUHxn4uIpMLlTjI1P24X5lhU_x8bQ5WkFUqTPKFe_x4q6KHaHpyVzVow2k-A4m_dt1RyJgOsjaRgFtCviGAgZ8E_Hxl0.webp?r=366" --}}
  {{!-- <video loop controls="false" muted max-width=100% height=auto poster="https://occ-0-3933-3934.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABUHxn4uIpMLlTjI1P24X5lhU_x8bQ5WkFUqTPKFe_x4q6KHaHpyVzVow2k-A4m_dt1RyJgOsjaRgFtCviGAgZ8E_Hxl0.webp?r=366" autoplay><source src="https://www.youtube.com/watch?v=EweuTOz7g-g" type="video/youtube"></video> --}}

</section>

{{!-- Trending Section --}}
<h3 style="color: white; margin-top: 50px; margin-left: 50px; width:50%">Trending</h3>
<div class="container">
  {{#each trendingWeek.results}}
    {{#if this.name}}
      {{!-- <h4 style="color:azure;">{{this.name}}</h4> --}}
      <a href="/info/{{this.media_type}}/{{this.id}}">
        <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster">
      </a>   
    {{/if}}
    {{#if this.title}}
      {{!-- <h4 style="color:azure;">{{this.title}}</h4> --}}
      <a href="/info/{{this.media_type}}/{{this.id}}">
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
      data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster">
    </a>
    {{/if}}
  {{/each}}
</div>


{{!-- Popular Section --}}
<h3 style="color: white; margin-left: 50px; width:50%">Popular Movies</h3>
<div class="container">
  {{#each popularMovie.results}}
    <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
      data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster">
  {{/each}}
</div>

<h3 style="color: white; margin-left: 50px; width:50%">Popular TV Shows</h3>
<div class="container">
  {{#each popularTV.results}}
    <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
      data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster">
  {{/each}}
</div>


{{!-- Top Rated Section --}}

<h3 style="color: white; margin-left: 50px; width:50%">Top Rated Movies</h3>
<div class="container">
  {{#each topMovieRated.results}}
    <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
      data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster">
  {{/each}}
</div>

<h3 style="color: white; margin-left: 50px; width:50%">Top Rated TV Shows</h3>
<div class="container">
  {{#each topTVRated.results}}
    <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
      data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster">
  {{/each}}
</div>

{{!-- Action Movies --}}
<h3 style="color: white; margin-left: 50px; width:50%">Action Movies</h3>
<div class="container">
  {{#each actionMovie.results}}
    <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
      data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster">
  {{/each}}
</div>

{{!-- Crime TV --}}
<h3 style="color: white; margin-left: 50px; width:50%">Crime TV Shows</h3>
<div class="container">
  {{#each crimeTV.results}}
    <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
      data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster">
  {{/each}}
</div>

{{!-- Comedy Movies --}}
<h3 style="color: white; margin-left: 50px; width:50%">Comedy Movies</h3>
<div class="container">
  {{#each comedyMovie.results}}
    <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
      data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster">
  {{/each}}
</div>

{{!-- News TV --}}
<h3 style="color: white; margin-left: 50px; width:50%">News TV</h3>
<div class="container">
  {{#each newsTV.results}}
    <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
      data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster">
  {{/each}}
</div>
