<article class="info-container">
  <iframe width="600px" height="300px"
    src="https://www.youtube.com/embed/{{key}}?autoplay=0&amp;controls=1&amp;rel=0&amp;modestbranding=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.universalpictures.com&amp;widgetid=5"
    frameborder="0" allow="accelerometer; autoplay encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

  <section class="info-content">
    {{#if mediaInfo.title}}
      <h3 class="info-title">{{mediaInfo.title}}</h3>
      <p class="under-title">{{mediaInfo.release_date}}</p>
    {{/if}}
    {{#if mediaInfo.name}}
      <h3 class="info-title">{{mediaInfo.name}}</h3>
      <p class="under-title">{{mediaInfo.first_air_date}} | {{mediaInfo.number_of_episodes}} Episodes </p>
      <p>{{mediaInfo.created_by.name}}</p>
    {{/if}}
    <p class="overview">{{mediaInfo.overview}}</p>
    <p class="rated">Rated {{mediaInfo.vote_average}}/10 by {{mediaInfo.vote_count}} critics</p>

    <div class="info-buttons">
    {{#if mediaInfo.isMovieAdded}}
    <form method="GET" action="/info/{{mediaType}}/{{mediaInfo.id}}/delete">
      <button type="submit" class="list-button-remove">Delete from the List</button>
    </form>
    {{else}}
    <form method="GET" action="/info/{{mediaType}}/{{mediaInfo.id}}/add">
      <button type="submit" class="list-button-add">Add to the List</button>
    </form>
    {{/if}}
    {{#if mediaInfo.homepage}}
    <a href="{{mediaInfo.homepage}}" class="watch-here">Watch Here</a>
    {{else}}
    <a class="not-here">Not available 😢</a>
    {{/if}}


    </div>
  </section>
</article>