<article class="info-container">
  <iframe width="600px" height="300px"
    src="https://www.youtube.com/embed/{{key}}?autoplay=0&amp;controls=1&amp;rel=0&amp;modestbranding=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.universalpictures.com&amp;widgetid=5"
    frameborder="0" allow="accelerometer; autoplay encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

  <section class="info-content">
    {{#if mediaInfo.title}}
    <h3>MOVIE {{mediaInfo.title}}</h3>
    {{/if}}
    {{#if mediaInfo.name}}
    <h3>TV SHOW {{mediaInfo.name}}</h3>
    {{/if}}

    {{#if mediaInfo.isMovieAdded}}
    <form method="GET" action="/info/{{mediaType}}/{{mediaInfo.id}}/delete">
      <button type="submit" class="list-button">Delete from the List</button>
    </form>
    {{else}}
    <form method="GET" action="/info/{{mediaType}}/{{mediaInfo.id}}/add">
      <button type="submit" class="list-button">Add to the List</button>
    </form>
    {{/if}}
  </section>
</article>