    {{#if mediaInfo.title}}
      <h3 style="color: white; margin-top: 50px; margin-left: 50px; width:50%">MOVIE {{mediaInfo.title}}</h3>   
    {{/if}}
      {{#if mediaInfo.name}}
      <h3 style="color: white; margin-top: 50px; margin-left: 50px; width:50%">TV SHOW {{mediaInfo.name}}</h3>   
    {{/if}}
    
    <iframe width="600px" height="300px" src="https://www.youtube.com/embed/{{key}}?autoplay=0&amp;controls=1&amp;rel=0&amp;modestbranding=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.universalpictures.com&amp;widgetid=5" frameborder="0" allow="accelerometer; autoplay encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <form method="GET" action="/info/{{mediaType}}/{{mediaInfo.id}}/add">
      <button type = "submit"class="mybutton" >Add to the List</button>
    </form>

{{!-- /info/movie/{{mediaInfo.id}}/add --}}

<!-- //remove youtube -->
{{!-- <iframe class="yt-player" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="100%" height="100%" src="https://www.youtube.com/embed/Bw0-cV_J9q4?autoplay=0&amp;controls=1&amp;rel=0&amp;modestbranding=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.universalpictures.com&amp;widgetid=5" id="widget6" style="z-index: 999;"></iframe>

  <iframe frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" width="100%" height="100%" src="https://www.youtube.com/embed/Bw0-cV_J9q4?autoplay=1&amp;controls=0&amp;rel=0&amp;modestbranding=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.universalpictures.com&amp;widgetid=5"></iframe> --> --}}