<h3 class="container-first-title">Your Movies :</h3>
<div class="container">
  {{#each list}}
    {{#if this.title}}
      <a href="/info/movie/{{this.id}}">
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
      data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a>
    {{/if}}

    {{else}}
      <h1>This is empty</h1>
  {{/each }}
</div>

<h3 class="container-title">Your TV Shows :</h3>
<div class="container">
  {{#each list}}
    {{#if this.name}}
      <a href="/info/tv/{{this.id}}">
        <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
      </a>   
    {{/if}}
  {{/each}}
</div>

