
<section class="target_video">
  <video width=100% height=25% controls poster="https://i.ytimg.com/vi/qQkLW7P8By0/maxresdefault.jpg">      
    <source src="https://movietrailers.apple.com/movies/universal/you-should-have-left/you-should-have-left-trailer-1_a720p.m4v?t=5" type="video/mp4"> <!-- type="video/mp4" -->  
  </video>

</section>

{{!-- Trending Section --}}
<h3 style="color: white; margin-top: 50px; margin-left: 50px; width:50%">Trending</h3>
<div class="container">
  {{#each trendingWeek.results}}
    {{#if this.name}}
      {{!-- <h4 style="color:azure;">{{this.name}}</h4> --}}
      <a href="/info/{{this.media_type}}/{{this.id}}">
        <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
      </a>   
    {{/if}}
  {{/each}}
</div>


{{!-- Popular Section --}}

<h3 style="color: white; margin-left: 50px; width:50%">Popular</h3>
<div class="container">
  {{#each popularTV.results}}
    <a href="/info/tv/{{this.id}}"> 
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a>
  {{/each}}
</div>


{{!-- Top Rated Section --}}
<h3 style="color: white; margin-left: 50px; width:50%">Top Rated</h3>
<div class="container">
  {{#each topTVRated.results}}
    <a href="/info/tv/{{this.id}}"> 
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a>
  {{/each}}
</div>


{{!-- Comedy TV --}}
<h3 style="color: white; margin-left: 50px; width:50%">Comedy</h3>
<div class="container">
  {{#each comedyTV.results}}
    <a href="/info/tv/{{this.id}}"> 
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a>
  {{/each}}
</div>


{{!-- Romance TV --}}
<h3 style="color: white; margin-left: 50px; width:50%">Romance</h3>
<div class="container">
  {{#each romanceTV.results}}
    <a href="/info/tv/{{this.id}}"> 
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a>
  {{/each}}
</div>

{{!-- Crime TV --}}
<h3 style="color: white; margin-left: 50px; width:50%">Crime</h3>
<div class="container">
  {{#each crimeTV.results}}
    <a href="/info/tv/{{this.id}}"> 
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a>
  {{/each}}
</div>

{{!-- News TV --}}
<h3 style="color: white; margin-left: 50px; width:50%">News</h3>
<div class="container">
  {{#each newsTV.results}}
    <a href="/info/tv/{{this.id}}"> 
      <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        data-src="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" srcset="https://image.tmdb.org/t/p/w220_and_h330_face/{{this.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face/{{this.poster_path}} 2x" data-loaded="true" class="poster" onerror="this.parentNode.removeChild(this)">
    </a>
  {{/each}}
</div>

<script>
    var imgs = document.getElementsByTagName('img')
    for(var i=0,j=imgs.length;i<j;i++){
        imgs[i].onerror = function(e){
        this.parentNode.removeChild(this);
    }
}
</script>